// Colors

$black: #000;

$white: #fff;

$gray-500: #e5e5e5;
$gray-600: #858585;
$gray-700: #d6d6d6;
$gray-800: #333333;

$red-500: #ff5a5f;
$red-600: #f33b41;

// Fonts

$poppins: "Poppins", sans-serif;
$roboto: "Roboto", sans-serif;

// Icons

$left-arrow: url("assets/svgs/left-arrow-desktop.svg");
$right-arrrow: url("assets/svgs/right-arrow-desktop.svg");
$circle: url("assets/svgs/button.svg");
$circle-active: url("assets/svgs/button-active.svg");
$circle-4k: url("assets/svgs/button-desktop.svg");
$circle-active-4k: url("assets/svgs/button-active-desktop.svg");
